@import 'setup';
@import 'navHeader';
@import 'projects';
@import 'volumes';

.about {
    height: 200px;
    width: 100%;
    margin: 75px 0 125px 0;
    @include border;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about p {
    font-size: 1.75rem;
    padding: 0 20px;
}

footer {
    width: 98%;
    margin-left: 2%;
    border-top: $line solid $primary;
    margin-top: 150px;
}

footer p {
    width: 100%;
    text-align: center;
    line-height: 4rem;
}

@media (max-width: 1055px) {
    header, main {
        padding: 0 25px;
    }
    
    .projectContent a {
        width: 275px;
        height: 170px;
    }
}

@media (max-width: 790px) {
    
    .projects h3 {
        font-size: 4rem;
    }

    .projectContent {
        flex-direction: column-reverse;
    }

    .projectContent p {
        width: 100%;
        margin-bottom: 20px;
    }

    .projectContent a {
        margin: 0 0;
    }
}

@media (max-width: 650px) {
    nav ul {
        display: none;
    }
}