@import 'setup';
@import 'nav';

header {
    height: 100vh;
    padding: 0 $wrapperOne;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: flex-start

    //background: linear-gradient(90deg, rgba(249,243,241,1) 27.5%, rgba(251,97,66,1) 27.5%);
}

header p {
    font-size: 1.3rem;
    margin: 0 0 15px 13px;
}

h1 {
    color: $primary;
    font-size: 8.5rem;

    span {
        display: block;
        margin-top: -30px;
    }
}

h2 {
    
    font-size: 1.75rem;
    margin: -5px 0 10px 12px;
    color: $primary;
}

header a {
    margin-bottom: 75px;
    padding: 12px 32px;
    border: $line solid $primary;
    text-decoration: none;
    color: $primary;
}

main {
    height: 150vh;
    margin-top: 100px;
    padding: 0 $wrapperOne;
}

.projects h3{
    font-size: 6rem;
    transform: rotate(90deg);
    transform-origin: top left;
    display: inline-block;
    padding-top: 12.5px;
    margin-left: 150px;
    border-top: $line solid $primary;
}

.projectParent {
    width: calc(100% - 150px);
    height: 50vh;
    margin: -135px 0 0 150px;
    background-color: blue;
}

.project {
    padding: 7%;
}

h4 {
    font-size: 1.75rem;
}