@import 'setup';
@import 'navHeader';
@import 'projects';
@import 'skills';
@import 'volumes';

.about {
    height: 200px;
    width: 100%;
    margin: 100px 0 175px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-linear-gradient(
        -45deg,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 0) 30px,
        rgba(0, 0, 0, 1) 30px,
        rgba(0, 0, 0, 1) 32px
),
}

.about p {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5rem;
    line-height: 2.75rem;
    padding: 0 20px;
}

footer {
    width: 96%;
    margin-left: 2%;
    border-top: $line solid $primary;
    margin-top: 150px;
}

footer p {
    width: 100%;
    text-align: center;
    line-height: 4rem;
}

@media (max-width: 1055px) {
    header, main {
        padding: 0 25px;
    }

    .projects h3 {
        margin-left: 125px;
    }
    
    .projectContent a {
        width: 275px;
        height: 170px;
    }
}

@media (max-width: 790px) {
    
    .projects h3 {
        font-size: 4rem;
    }

    .projectContent {
        flex-direction: column-reverse;
    }

    .projectContent p {
        width: 100%;
        margin-bottom: 20px;
    }

    .projectContent a {
        margin: 0 0;
    }
}

@media (max-width: 650px) {
    nav ul {
        display: none;
    }

    nav {
        height: 50px;
    }

    .burger {
        display: block;
        height: 50px;
        width: 50px;
        background: black;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .burger span {
        display: block;
        width: 50px;
        height: 3px;
        margin: 2.5px 0;
        background: red;
    }

    .burger span:nth-of-type(1) {
        margin-top: 0;
    }
}