@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  background: none;
  border: none;
  outline: none;
  font-size: 1rem;
}

/**************************************************
GENERAL STYLES AND VARIABLES/MIXIN 
**************************************************/
body {
  font-size: 125%;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #EEEAE9;
}

a {
  text-decoration: none;
  color: black;
}

/**************************************************
DESIGN ONLY
**************************************************/
.designOnlyOne {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 30vw;
  z-index: -99;
}

nav .designOnlyOne {
  bottom: calc(100vh - 75px);
}

/**************************************************
NAV
**************************************************/
nav {
  width: 96%;
  height: 75px;
  position: fixed;
  top: 0;
  left: 2%;
  z-index: 10;
  border-bottom: 2px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: #EEEAE9;
}

nav ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 30px 30px;
      grid-template-rows: 30px 30px;
  -ms-grid-columns: 150px 175px 150px 1fr;
      grid-template-columns: 150px 175px 150px 1fr;
  margin: 17px 0 0 0;
}

nav ul li {
  padding: 5px 0 0 5px;
  cursor: pointer;
}

nav ul li:nth-of-type(1), nav ul li:nth-of-type(2), nav ul li:nth-of-type(4), nav ul li:nth-of-type(5) {
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

nav ul li:nth-of-type(2) {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

nav ul li:nth-of-type(3) {
  height: 33.5px;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-top: 17.5px;
}

nav ul li:nth-of-type(4) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
}

nav ul li:nth-of-type(5) {
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-column: 3/4;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:last-of-type {
  width: 60px;
  -ms-grid-column: 4;
  -ms-grid-column-span: 1;
  grid-column: 4/5;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

nav li:hover::before {
  content: "+ ";
}

nav li:nth-of-type(6):hover::before {
  content: "";
}

nav li:hover, nav li:hover a {
  color: #EEEAE9;
  background-color: black;
}

nav li:last-of-type:hover {
  border-bottom: 2px solid black;
  background-color: none;
  background: none;
}

nav li:last-of-type:hover .volume {
  color: black;
}

.volume {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -5px 0 0 0;
  font-size: 0.95rem;
  border: 2px solid black;
  font-family: 'Abril Fatface', cursive;
}

.burger {
  display: none;
}

/**************************************************
HEADER
**************************************************/
header {
  height: 100vh;
  padding: 0 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

header p {
  font-size: 1.3rem;
  margin: 0 0 15px 13px;
}

h1 {
  font-size: 8.5rem;
  font-family: 'Abril Fatface', cursive;
}

h1 span {
  display: block;
  margin-top: -30px;
}

h2 {
  font-size: 1.75rem;
  margin: -5px 0 10px 0;
}

header a {
  margin-bottom: 75px;
  padding: 12px 32px;
  border: 2px solid black;
}

header a:hover {
  background-color: black;
  color: #EEEAE9;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

main {
  margin-top: 100px;
  padding: 0 75px;
}

h3 {
  font-family: 'Abril Fatface', cursive;
  font-size: 6rem;
}

/**************************************************
PROJECTS SECTION
**************************************************/
.projects {
  margin-bottom: 175px;
}

.projects h3 {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  display: inline-block;
  padding-top: 12.5px;
  margin-left: 100px;
  border-top: 2px solid black;
}

.projectParent {
  width: calc(100% - 150px);
  margin: -135px 0 0 150px;
}

.project {
  padding: 50px 0 0 7%;
}

.languagesUsed {
  margin-top: 5px;
  padding-bottom: 5px;
  width: 98%;
  border-bottom: 2px solid black;
  position: relative;
}

.languagesUsed:after {
  content: "+";
  font-size: 1.6rem;
  position: absolute;
  right: -17px;
  bottom: -15px;
}

.languagesUsed li {
  display: inline;
}

.projectContent {
  padding: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.projectContent p {
  line-height: 1.3rem;
  width: 40%;
}

.projectContent a {
  width: 450px;
  height: 275px;
  margin: 0 10px;
  padding: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid black;
}

.projectContent a span {
  display: none;
}

.projectContent a:hover {
  background-color: black;
}

.projectContent a:hover img {
  display: none;
}

.projectContent a:hover span {
  display: inline-block;
  width: 450px;
  font-size: 1.75rem;
  color: #EEEAE9;
  text-align: center;
}

h4 {
  font-size: 1.75rem;
}

/**************************************************
SKILLS SECTION
**************************************************/
.skills {
  margin: 175px 0 0 0;
}

.skills h3 {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.skills ul {
  width: 100%;
  margin: 75px 0 0 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 0 50px;
}

.skills li {
  position: relative;
}

.skills li::after {
  content: " +";
  font-family: FontAwesome;
  position: absolute;
  font-size: 1.3rem;
  bottom: 0;
  right: 10px;
}

.skills li span {
  display: inline-block;
  width: calc(100% - 50px);
  border-bottom: 2px solid black;
  margin-bottom: 10px;
  padding: 7px;
}

.skills li:nth-of-type(1)::after {
  content: "";
}

.skills li:nth-of-type(2)::after {
  content: "";
}

.skills li:nth-of-type(3)::after {
  content: "";
}

.skills li:nth-of-type(4)::after {
  content: "";
}

.skills li:nth-of-type(9)::after {
  content: "";
}

.skills li:nth-of-type(10)::after {
  content: "";
}

.volume2 {
  background-color: tomato;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.volume3 {
  background-color: #10d3c0;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.designOnlyOne.volume4 {
  background-color: #c9c544;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

/*body.volume3, a.volume3 {
    color: rgb(2, 33, 99);
}*/
/*li:nth-of-type(1), li:nth-of-type(2), li:nth-of-type(4), li:nth-of-type(5) -borders */
/*.projectContent a, .volume, header a, .about -border */
.about {
  height: 200px;
  width: 100%;
  margin: 100px 0 175px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 30px, black 30px, black 32px);
}

.about p {
  font-family: 'Abril Fatface', cursive;
  font-size: 2.5rem;
  line-height: 2.75rem;
  padding: 0 20px;
}

footer {
  width: 96%;
  margin-left: 2%;
  border-top: 2px solid black;
  margin-top: 150px;
}

footer p {
  width: 100%;
  text-align: center;
  line-height: 4rem;
}

@media (max-width: 1055px) {
  header, main {
    padding: 0 25px;
  }
  .projects h3 {
    margin-left: 125px;
  }
  .projectContent a {
    width: 275px;
    height: 170px;
  }
}

@media (max-width: 790px) {
  .projects h3 {
    font-size: 4rem;
  }
  .projectContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .projectContent p {
    width: 100%;
    margin-bottom: 20px;
  }
  .projectContent a {
    margin: 0 0;
  }
}

@media (max-width: 650px) {
  nav, nav .designOnlyOne {
    height: 50px;
  }
  nav ul {
    -ms-grid-columns: 75px 90px 90px 25px;
        grid-template-columns: 75px 90px 90px 25px;
    -ms-grid-rows: 40px 40px;
        grid-template-rows: 40px 40px;
    display: none;
  }
  .volume {
    border: none;
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    margin: 9px 0 0 -15px;
  }
  nav li:last-of-type:hover {
    border: none;
  }
  nav li:nth-of-type(6):hover .volume {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
  nav li:hover::before {
    content: "";
  }
  .burger {
    display: block;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .burger span {
    display: block;
    width: 50px;
    height: 3px;
    margin: 2.5px 0;
    background: black;
    -webkit-transition: 0.2s ease-in;
    transition: 0.2s ease-in;
  }
  .burger span:nth-of-type(1) {
    margin-top: 0;
  }
  .burger span:nth-of-type(3) {
    width: 30px;
    margin-left: 20px;
  }
  .burger:hover span:nth-of-type(3) {
    width: 50px;
    margin-left: 0;
  }
  .burger:hover span:nth-of-type(1) {
    width: 30px;
  }
  .skills ul {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  nav.burgerClicked .burger {
    display: none;
  }
  nav.burgerClicked {
    height: 95px;
  }
  nav.burgerClicked .designOnlyOne {
    height: 95px;
  }
  nav.burgerClicked ul {
    display: -ms-grid;
    display: grid;
  }
}
